<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta content="text/html;charset=utf-8"
          http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ .Title }} </title>
    <meta content="" lang="{{.Lang}}"
          name="keywords">
</head>
<body>